{% extends 'base.html.twig' %}

{% block title %}RaveShop - Mon compte{% endblock %}

{% block content %}
<h1>Mon Compte</h1>
Bienvenue dans votre compte <b>{{ app.user.firstname }}</b> !<br>
Ici vous pouvez modifier toutes les informations relatives à votre compte.<br>
<hr>

- <a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a><br>
- <a href="{{ path('app_account_address') }}">Modifier mes adresses</a><br>
- <a href="{{ path('app_account_order') }}">Mes commandes</a><br>
</hr>
<div class="similary">
</div>

{% endblock %}
