{% extends 'base.html.twig' %}

{% block title %}RaveShop - Modifier mot de passe{% endblock %}

{% block content %}
<div class="wrapper text-center mt-3">
<h1>Modifier mon mot de passe</h1>

{{ form(modifPassword)}}

{% if notification %}
<div class='alert alert-info'>{{ notification }}</div>

{% endif %}

<a href="{{ path('app_account')}}">Retourner à mon compte</a>
</div>

{% endblock %}