{% extends 'base.html.twig' %}

{% block title %}RaveShop - Modifier mot de passe{% endblock %}

{% block content %}
<div class="column-login">
    <h1>Modifier mon mot de passe</h1>

    {{ form(modifPassword)}}

    {% if notification %}
    <div class='alert alert-info'>{{ notification }}</div>

    {% endif %}

    <a href="{{ path('app_account')}}">Retourner à mon compte</a>
</div>

{% endblock %}