{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block content %}

<div class="contenant">
        <a href="{{ path('products')}}">
                <video id="background-video" preload="auto" autoplay loop muted>
                        <source src="{{ asset('assets/img/home2.mp4') }}" type="video/mp4">
                </video>
        </a>
</div>
<h2 class="title-h2">Nos nouveautés</h2>
<p id="p-home"> Découvrez les articles sortie récemment<p>
                <div class="home-container">

                        {% for product in products %}
                        {% include 'product/single_product.html.twig' %}
                        {% endfor %}
                </div>
                <div class="description">
                        <a href="{{path('produit_categorie',{'id':6})}}">
                                <img id="img-categorie" src="{{ asset('uploads/sweat-heart.jpg')}}" alt="Sweatshirt">
                        </a>
                </div>
                <hr>
                </div>



                {% endblock %}