{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block content %}

<div class="contenant">
<img id="img-accueil" src="{{ asset('assets/img/accueil4.jpg')}}" alt="Nouveauté">
  <div class="texte_centrer"><a href="{{ path('products')}}">Découvrez tous nos articles </a></div>
</div>
<h2 class="title-h2">Nos nouveautés</h2>
<p id="p-home"> Découvrez les articles sortie récemment<p>
        <table id="new">
            <tr>
                {% for product in products %}
                <td>{% include 'product/single_product.html.twig' %}</td>
                {% endfor %}</tr>
        </table>
<div class="description">
<a href="{{path('produit_categorie',{'id':6})}}">
<img id="img-categorie" src="{{ asset('uploads/sweat-heart.jpg')}}" alt="Sweatshirt">
</a>
</div>
<hr>


        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br><br>
        <br>
        <br>
        <br>


        <br>
        <br>v


        <br>
        <br>

        {% endblock %}