{% extends 'base.html.twig' %}

{% block title %}RaveShop | Réinitialiser votre mot de passe{% endblock %}

{% block content %}
{% for flash_error in app.flashes('reset_password_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}
<div class="column-login">

    <h1>Réinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
    <div>
        <small>
            Entrez votre adresse e-mail et nous vous enverrons un
            lien pour réinitialiser votre mot de passe.
        </small>
    </div>

    <button class="btn btn-primary">Envoyer l'email de réinitialisation</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}