/* Accueil */
.navbar-item-custom,.navbar-item-custom a{
    color:white;
}
.footer-custom{
    text-align: center;
    position: fixed;
    bottom:0;
    width:100%;
    background-color: rgba(0, 0, 0, 0.189);
    padding-top: 2rem;
}