* {
    box-sizing: border-box;
    margin: auto;
}

.wrapper {
    max-width: 1300px;
}


/* Accueil */

.texte_centrer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texte_centrer a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.texte_centrer a:hover {
    color: orange;
    transition: all 0.3s ease-in;
}

/* Header */
header {
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;

}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

header .logo {
    max-width: 66px;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0px;

}

header nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-right: 25px;
    padding-bottom: 2px;
}

header nav ul li a:hover {
    color: orange;
    transition: all 0.3s ease-in;
    text-decoration: none;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-heart-pulse {
    color: red;
}


@media screen and (min-width:820px) {
    #burger {
        display: none;
    }

}

@media screen and (max-width:820px) {
    header nav {
        flex-wrap: wrap;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        height: 250px;
        justify-content: space-evenly;
    }

    header nav div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    #burger {
        display: block;
    }
}

/* END HEADER */

/* MAIN */
#img-accueil {
    display: flex;
    width: 100%;
    height: auto;
}

#background-video {
    display: flex;
    width: 100%;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    position: relative;
}

article{
    display:flex;
    align-items: baseline;
    margin:20px 10%;
    background-color: #ccff00;
    max-width: 1500px;
    margin: auto;
}

article:hover{
    background-color:orange;
}

#news-title, #what, #go{
    display: flex;
    width: 33%;
    padding-right: 25px;
}

#news-title{
    padding-right: 25px;
}


#what p{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
#go{
    margin-left: 10rem;
}


.title-h2 {
    text-align: center;
    font-style: italic;
}

#p-home {
    text-align: center;
    color: orange;
}

.home-container {
    display: flex;
    flex-direction: row
}
.newsletter {
    background-color: rgba(70, 46, 255, 0.56);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


    

#banner{
    background-image: url('https://images.pexels.com/photos/2224399/pexels-photo-2224399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');;
    height:600px;
    width: 80%;
    color:rgba(255, 255, 255, 0.756);
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(70, 46, 255, 0.56) -10px 2px 11px;
}

#banner *{
    margin:0 20% 25px 20%;
    text-align: center;
}

#banner a{
    text-decoration: none;
    color:rgba(70, 46, 255, 0.56);
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid rgba(70, 46, 255, 0.56);
    padding: 5px 10px 5px 10px;
}
.accessoire{
    width: 100%;
    height: 600px;
    opacity: 2;
    z-index: 3;
}

/* Login */

.block-small {
    max-width: 600px;
    margin: 0 auto;

}

/* Nos Produits */

.product-container {
    margin-bottom: 150px;
    max-width: 1000px;
}

.product-item {
    margin-top: 50px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 14px;
    display: block;
    font-weight: bold;
}

/* Mon compte */
.account-item {

    background-color: #f1f2f6;
    padding: 75px;
    text-align: center;

}

.account-item a {
    text-transform: uppercase;
    font-size: 14px;
    color: #4b5884;
    font-weight: bolder;
}

.account-item a:hover {
    text-transform: uppercase;
    color: rgba(70, 46, 255, 0.56);
    font-weight: bolder;
    text-decoration: none;
}

/* Fiche produit */

.product-show-price {
    font-size: 20px;
}

.similary {
    margin-bottom: 125px;
}
.bestsellers{
    max-width: 800px;
}

/* Récapitulatif Commande */
.form-check {
    padding: 20px 65px;
    margin-top: 7px;
    box-shadow: 0px 0px 2px 1px rgba(70, 46, 255, 0.56);
}

.form-check:hover{
    -webkit-transform:scale(1.05); /* Safari et Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* Internet Explorer 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}

.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: color #dfeaff;
    padding: 20px;
    margin-top: 22px;
}

/* Footer */

/* --- FOOTER --- */

.container-footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    height: 170px;
    margin-bottom: 0;
    position: relative;

}

#list-footer ul li {
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;

}

#list-footer ul li a {
    text-decoration: none;
    color: white;
}

@media screen and (min-width: 950px) {
    .container-footer {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 150px;
        padding: 20px;
        bottom: 0;
    }
    
}

/** HOME **/

.news{
    max-width: 1000px;
    margin-top: 2rem;
}
#back {
    max-width: 1300px;
    margin: auto;
    background: black;
    -webkit-box-shadow: 0px 0px 36px 9px rgba(70, 46, 255, 0.56);
    -moz-box-shadow: 0px 0px 36px 9px rgba(70, 46, 255, 0.56);
    box-shadow: 0px 0px 36px 9px rgba(70, 46, 255, 0.56);
    padding: 3em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1em;
}

.card-cat {

    box-shadow: 0px 0px 1px 2px rgba(70, 46, 255, 0.56);
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    color: white;
    text-transform: uppercase;
}


img {
    width: 100%;
}
.card-cat:hover img {
    /* L'image est grossie de 10% */
    -webkit-transform:scale(1.10); /* Safari et Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* Internet Explorer 9 */
    -o-transform:scale(1.10); /* Opera */
    transform:scale(1.10);
    border: solid 1px orange;
    }
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



@media screen and (max-width:800px) {
    #back {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-cat{
        padding: 2em;
    }
}

@media screen and (max-width:500px) {
    #back {
        grid-template-columns: 1fr;
    }
    .card-cat{
        padding: 2em;
    }
}

.about-us{
box-sizing : border-box; 
position : relative; 
background : rgb(243, 244, 245) none repeat scroll 0% 0% / auto padding-box border-box; 
box-shadow : rgba(34, 36, 38, 0.15) 0px 1px 2px 0px; 
margin : 14px 0px 0px; 
padding : 42px; 
border-radius : 4px; 
border : 1px solid rgba(34, 36, 38, 0.15); 
margin-bottom : 0px; 
text-align : center; 
color : rgba(0, 0, 0, 0.6); 
font-size : 14px; 
max-width: 1000px;
margin: auto;
margin-top: 2rem;
}

.line {
    color:black;
    text-align:center;
    overflow:hidden;
    font-size:16px;
  }
  .line:before, .line:after {
    content:'';
    width:3em;
    border-bottom:rgba(7, 7, 7, 0.3) solid;
    display:inline-block;
    vertical-align:middle;
  }
  .line:before {
    margin-left:-100%;
  margin-right:3em}
 .line:after {
    margin-right:-100%;
  margin-left:3em;}
