{% extends 'base.html.twig' %}

{% block title %}RaveShop | Nos produits{% endblock %}

{% block content %}

<div class="row mt-3">
    <div class="col-md-3 mt-1">
        <small><a href="{{ path('app_home') }}">Accueil</a> / <a href="{{ path('products')}}">Touts les
                produits</a></small>
        <h2 class="text-center">Filtrer</h2>
        {{ form(formSearch)}}
    </div>

    <div class="col-md-8">
        <h2 class="line"> Nos produits </h2>
        <div class="row product-container">
            {% for product in products %}
            {#}Pour chaque produit dans le tableau des produits {#}
            <div class="col-md-4">
                {% include 'product/single_product.html.twig' %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>


{% endblock %}