{% extends 'base.html.twig' %}

{% block title %}RaveShop - Inscription
{% endblock %}

{% block content %}
	<h1 class="h3 mt-3 mb-3 font-weight-normal text-center">
		<i class="fa-solid fa-door-open"></i>
		Inscription</h1>
	<div class="column-login">
		{{ form(registerForm)}}
        <span id="cgu"><a href="{{ path('cgu')}}" target="_blank"><small><i class="fa-solid fa-star-of-life"></i></small></a></span>

	{% endblock %}
