{% extends 'base.html.twig' %}

{% block title %}
RaveShop - Politique de cookies
{% endblock %}

{% block body %}

<h1>COOKIES</h1>

<p>Lorsque vous accédez à ce site Web, des cookies peuvent s'installer automatiquement sur le disque dur de votre ordinateur. Ces informations nous aident à personnaliser ce site Web en fonction des souhaits et des préférences de chaque utilisateur. La plupart des navigateurs permettent de refuser ou de supprimer les cookies ou de recevoir un avertissement avant leur installation. Veuillez consulter les instructions d'aide de votre navigateur Web pour plus d'informations. Si vous acceptez d'utiliser des cookies lorsque vous entrez sur ce site Web, ces cookies peuvent être utilisés lorsque vous entrez sur le site Web à l'avenir.</p>

{% endblock %}