{% extends 'base.html.twig' %}
{% block title %}Rave Shop - Politique de confidentialité{% endblock %}

{% block body %}

<h1>Politique de confidentialité</h1>
 

<h2>1. QUE FAISONS-NOUS DE VOS INFORMATIONS ?</h2>
<p>Lorsque vous achetez quelque chose dans la boutique en ligne Raveur, dans le cadre du processus d'achat et de vente, nous recueillons les informations personnelles que vous nous fournissez, telles que votre nom, votre adresse et votre adresse e-mail pour la gestion, le traitement et l'exécution de votre commande, ainsi que le client SAV et SAV.  

Lorsque vous naviguez sur la boutique en ligne Raveur, nous recevons également automatiquement l'adresse IP (protocole Internet) de votre ordinateur afin de nous fournir des informations nous permettant d'en savoir plus sur votre navigateur et votre système d'exploitation.

Lorsque vous ajoutez des produits à votre panier et saisissez vos coordonnées lors du paiement, nous nous réservons le droit de sauvegarder ces informations pour vous envoyer des rappels de panier ou de paiement à des fins commerciales.

Marketing par e-mail (le cas échéant) : avec votre permission, nous pouvons vous envoyer des e-mails concernant notre boutique, de nouveaux produits et d'autres mises à jour si vous utilisez le formulaire d'inscription dans la boutique en ligne Raveur ou cochez la case d'inscription lors du paiement.</p>

 

<h2>2. LOI SUR LA VIE PRIVÉE</h2>
<p>Nous utilisons vos informations personnelles uniquement conformément à la loi européenne : législation générale sur la protection des données du 27 avril 2016 relative à la protection des données concernant le traitement et le traitement de vos données personnelles (le « RGPD »). Cela vous donne également un droit légal d'accès, de rectification, de modification ou de suppression de vos données personnelles, à condition que celles-ci soient correctes et ne conduisent pas à une usurpation d'identité. Vos coordonnées ne seront pas divulguées à des tiers à des fins d'information ou de publicité.</p>

 

<h2>3. CONSENTEMENT</h2>
<h3>Comment obtenez-vous mon consentement ?</h3>

<p>En acceptant nos conditions générales après avoir passé une commande, vous acceptez automatiquement la politique de confidentialité, lorsque vous nous fournissez des informations personnelles pour effectuer une transaction, vérifier votre carte de crédit, passer une commande, organiser une livraison ou retourner un achat, nous impliquons que vous consentez à ce que nous les collections et les utilisions uniquement pour cette raison spécifique.</p>

 

<p>Si nous vous demandons vos informations personnelles pour une raison secondaire, comme à des fins commerciales (par exemple, l'abonnement à une newsletter), nous vous demanderons directement votre consentement explicite ou vous donnerons la possibilité de dire non.</p>

 

<p>Comment retirer mon consentement ?

<p>Si après votre inscription, vous changez d'avis, vous pouvez retirer votre consentement à ce que nous vous contactions, pour la collecte, l'utilisation ou la divulgation continue de vos informations, à tout moment. Veuillez contacter notre service clientèle ou utiliser la fonction d'opt-out dans les mailings que nous envoyons.</p>

 

<h2>4. DIVULGATION</h2>
<p>Nous pouvons divulguer vos informations personnelles si nous sommes tenus par la loi de le faire ou si vous violez nos conditions d'utilisation.</p>

 

<h2>5. SERVICES TIERS</h2>
<p>En général, les fournisseurs tiers que nous utilisons ne collectent, n'utilisent et ne divulguent vos informations que dans la mesure nécessaire pour leur permettre d'exécuter les services qu'ils nous fournissent. Les fournisseurs tiers utilisent les données suivantes pour le service aligné :</p>

 

<p>- Partenaire logistique et transporteurs maritimes : vos nom, prénom, adresse et coordonnées (e-mail/téléphone si fournis) pour la gestion, le traitement, l'exécution et la livraison de votre commande, ainsi que le service client.
- Fournisseurs de paiement : votre nom et vos informations de paiement (cryptées et sécurisées) afin d'effectuer le paiement via leur service.
 

<p>Cependant, certains fournisseurs de services tiers, tels que les passerelles de paiement, d'autres processeurs de transactions de paiement, ont leurs propres politiques de confidentialité en ce qui concerne les informations que nous sommes tenus de leur fournir pour vos transactions liées à l'achat.</p>

<p>Pour ces fournisseurs, nous vous recommandons de lire leurs politiques de confidentialité afin de comprendre la manière dont vos informations personnelles seront traitées par ces fournisseurs :</p>

 

<p>- Politique de confidentialité de Stripe : </p>

 

<p>Une fois que vous quittez le site Web de notre magasin ou que vous êtes redirigé vers un site Web ou une application tiers, vous n'êtes plus régi par la présente politique de confidentialité ou les conditions d'utilisation de notre site Web .</p>

 

<h2>6. SÉCURITÉ</h2>
<p>Pour protéger vos informations personnelles, nous prenons des précautions raisonnables et suivons les meilleures pratiques de l'industrie pour nous assurer qu'elles ne sont pas perdues, mal utilisées, consultées, divulguées, modifiées ou détruites de manière inappropriée.

<p>Si vous nous fournissez vos informations de carte de crédit, les informations sont cryptées à l'aide de la technologie Secure Socket Layer (SSL) et stockées avec un cryptage AES-256. Bien qu'aucune méthode de transmission sur Internet ou de stockage électronique ne soit sécurisée à 100 %, nous suivons et mettons en œuvre des normes supplémentaires généralement acceptées par l'industrie.</p>

 

<h2>7. COOKIES</h2>
<p>Lorsque vous accédez à ce site Web, des cookies peuvent s'installer automatiquement sur le disque dur de votre ordinateur. Ces informations nous aident à personnaliser ce site Web en fonction des souhaits et des préférences de chaque utilisateur. La plupart des navigateurs permettent de refuser ou de supprimer les cookies ou de recevoir un avertissement avant leur installation. Veuillez consulter les instructions d'aide de votre navigateur Web pour plus d'informations. Si vous acceptez d'utiliser des cookies lorsque vous entrez sur ce site Web, ces cookies peuvent être utilisés lorsque vous entrez sur le site Web à l'avenir.</p>

 

<h2>8. ANALYSE GOOGLE</h2>
<p>Les visites sur ce site Web sont suivies par Google Analytics ; le service Google qui nous permet d'analyser notre site Web. Ces cookies sont utilisés pour analyser et optimiser le site Web. Les informations suivantes sur votre utilisation sont transmises : adresse IP, approche du lieu de la visite, heure et jour de la visite, quelles pages sont visitées, temps passé sur la page, etc. Ces informations sont transmises à Google et stockées sur les serveurs de ce dernier aux États-Unis. Google n'associera pas votre adresse IP à d'autres données détenues par Google ou par nous. Google utilise ces informations uniquement pour avoir une large connaissance de la façon dont vous utilisez le site Web.

Si vous ne le souhaitez pas, vous pouvez refuser l'utilisation de cookies dans les paramètres de votre navigateur. Veuillez noter cependant que vous ne pouvez pas utiliser toutes les fonctionnalités de notre site Web.

En visitant le site Web, vous acceptez la collecte de données à des fins d'analyse et d'optimisation comme décrit ci-dessus.

Pour plus d'informations sur les données traitées par Google, veuillez consulter la politique de confidentialité de Google .</p>

 
<h2>9. ÂGE DE CONSENTEMENT</h2>
<p>En utilisant ce site, vous déclarez que vous avez au moins l'âge de la majorité dans votre état ou province de résidence, ou que vous avez l'âge de la majorité dans votre état ou province de résidence et vous nous avez donné votre consentement pour permettre à l'un de vos personnes à charge mineures à utiliser ce site.</p>

 

<h2>10. MODIFICATIONS POLITIQUE DE CONFIDENTIALITÉ</h2>
<p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment, veuillez donc la consulter fréquemment. Les modifications et les clarifications entreront en vigueur dès leur publication sur le site Web. Si nous apportons des modifications importantes à cette politique, nous vous informerons ici qu'elle a été mise à jour, afin que vous sachiez quelles informations nous collectons, comment nous les utilisons et dans quelles circonstances, le cas échéant, nous utilisons et/ou divulguons ce.</p>

<p>Si notre magasin fait l'objet d'une acquisition ou d'une fusion avec une autre entreprise, vos informations pourraient être transférées aux nouveaux propriétaires afin que nous puissions continuer à vous vendre des produits.</p>



<h2>QUESTIONS ET COORDONNÉES</h2>
<p>Si vous souhaitez : accéder, corriger, modifier ou supprimer toute information personnelle que nous possédons à votre sujet, déposer une plainte ou simplement obtenir plus d'informations, veuillez  contacter notre service client.</p>

{% endblock %}