{% extends 'base.html.twig' %}

{% block title %}RaveShop | Page introuvable{% endblock %}

{% block content %}
<div class="block-small">
    <h2> Page introuvable</h2>

    Désolé cette page est introuvable<br>

    <a href="{{ path('app_home')}}" class="btn btn-info">Revenir à l'accueil</a>

</div>


{% endblock %}