<style>
  body {
    margin: 0;
  }

  #title {
    font-size: 24px;
    color: white;
    text-align: center;
  }

  .banner {
    max-width: 900px;
    height: auto;
  }

  td,
  p {
    font-size: 13px;
    color: #878787;
  }

  ul {
    margin: 0 0 10px 25px;
    padding: 0;
  }

  li {
    margin: 0 0 3px 0;
  }

  h1,
  h2 {
    color: black;
  }

  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  a {
    color: #2F82DE;
    font-weight: bold;
    text-decoration: none;
  }

  .entire-page {
    background: #C7C7C7;
    width: 100%;
    padding: 20px 0;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    line-height: 1.5;
  }

  .email-body {
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
    background: white;
    border-collapse: collapse;

    img {
      max-width: 100%;
    }
  }

  .email-header {
    background: black;
    padding: 30px;
  }

  .news-section {
    padding: 20px 30px;
  }

  .footer {
    background: #eee;
    padding: 10px;
    font-size: 10px;
    text-align: center;
  }
</style>


<table class="entire-page">

  <tr>

    <td>

      <table class="email-body">

        <tr>
          <td class="email-header">
            <h3 id="title"> RΛVE SHOP - POSITIVE ATTITUDE</h3>
          </td>
        </tr>

        <tr>

          <td class="news-section">

            <h1>Merci de faire parti de l'équipe !</h1>

            <img class="banner" src="https://www.qualirelsante.com/wp-content/uploads/2019/12/Newsletter.png"></a>

            <p>Nous vous enverrons un email pour chaques nouvel évenement de Rave SHOP (nouvelle collection, ventes
              privée etc)</p>

            <p><a href="https://www.raveur.fr">Vous pouvez bien sure toujours nous visité</a></p>

          </td>

        </tr>

        <tr>

          <td class="news-section">

            <h2> Livraison Rapide !</h2>

            <p>Nous faisons tous les jours au mieux pour vous livrer au plus tot ! Découvrez notre selection de
              livraison en 48h !.</p>

          </td>

        </tr>

        <tr>

          <td class="news-section">

            <h2>Prochainement de nouvelles collection n'hesitez pas à consulter le shop chaques semaines pour voir les
              nouveautés !</h2>

            <p>Encore et toujours plus d'originalité !</p>


          </td>

        </tr>

        <tr>

          <td class="news-section">

            <h2>CODE PROMO SUR VOTRE PREMIERE COMMANDE</h2>

            <p>Votre code promo pour la premiere commande est : <strong>WELCOMERAVE6</strong></p>

          </td>

        </tr>

        <tr>

          <td class="news-section">

            <p style="font-weight: bold">
              <span style="color: red;">L</span>
              <span style="color: pink;">O</span>
              <span style="color: red;">V</span>
              <span style="color: pink;">E</span>
              <br>
              <span style="color: red;">R</span>
              <span style="color: pink;">A</span>
              <span style="color: red;">V</span>
              <span style="color: pink;">E</span>

            </p>
          </td>

        </tr>

        <tr>
          <td class="footer">
            Si vous ne voulez plus recevoir de email de notre part vous pouvez vous <a href="">Désabonner Ici</a>
          </td>
        </tr>

      </table>

    </td>

  </tr>

</table>